In [3]:
# 1) Verify if a value is an integer

n=5

n==int(n)

True

In [4]:
# 2) Verify if a value is even

n=5

n/2==int(n)

False

In [5]:
# 3) Insert two numbers. Is the first bigger than the second?

n=5
m=3

n>m

True

In [6]:
# 4) Verify if one value is multiple of another

n=5
m=3

n/m==int(n)

False

In [1]:
# 4) Verify if one value is multiple of another

n=5
m=3

m/n==int(n)

False

In [8]:
# 5) Calculate the interest earn by an investor that invested a capital of 200 during 3 years 
# with an interest rate of 3%. (I= P*R*T)

P=200
R=.03
T=3

I=P*R*T
print(I)

18.0

In [9]:
# 6) Capital that an investor obtained after investing a capital of 200 during 3 years
# with an interest rate of 3%. (Compound interest)

P=200
R=.03
T=3

K=P*(1+R)**3
print(K)

218.5454

In [10]:
# 7) Calculate your BMI (Body Mass Index)

mass=65
height=1.85

BMI=mass/height**2
print(BMI)

18.991964937910883

In [16]:
'''
8) Calcule the Golden ration

1. Solve the problem without using libraries 
'''

gr=(1+5**(1/2))/2
print(gr)

1.618033988749895

In [14]:
'''
8) Calcule the Golden ration

2. Use module math (import math) and function sqr (math.sqrt)
'''

import math
gr=(1+math.sqrt(5))/2
print(gr)

1.618033988749895

In [15]:
# 9) Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, 
# the following Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.

I=10000
CF1=2000
CF2=3000
CF3=4000
CF4=4000
CF5=5000
R=.1

NPV=CF1/(1+R)+CF2/(1+R)**2+CF3/(1+R)**3+CF4/(1+R)**4+CF5/(1+R)**5-I
print(NPV)

3139.440301519393

In [24]:
'''
10) Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in'

1. Solve the problem without using modules and libraries 
'''

name=input("What's your name? ")
age=input("How old are you? ")
currentYear=2019
age=int(age)
birthDate=currentYear-age
answer="This person was born in "+str(birthDate)
print(answer)

What's your name? Daniele
How old are you? 23
This person was born in 1996

In [2]:
'''
10) Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in'

2. Solve the problem using the date library from module datetime, as follow:
from datetime import date   
today = date.today()   
today.year
'''

name=input("What's your name? ")
age=input("How old are you? ")
from datetime import date
today=date.today()
age=int(age)
birthDate=today.year-int(age)
answer="This person was born in "+str(birthDate)
print(answer)

What's your name? Daniele
How old are you? 23
This person was born in 1996

In [6]:
'''
11) Ask the user to insert forenames, surnames. create a new variable (name) with your complete name.
Create the follwoing variables:
nameBig, where all the characters of the name are capitalized 
nameTitle, where the only the first character of each name (word) is capitalized 
nameSmall, where all the characters of the name are lower 
nameCapitalized, where only the first character of the first name is capitalized
'''

forename=input("What's your forename? ")
surname=input("What's your surname? ")
name=forename+" "+surname

nameBig=name.upper()
nameTitle=name.title()
nameSmall=name.lower()
nameCapitalized=name.capitalize()

print(nameBig)
print(nameTitle)
print(nameSmall)
print(nameCapitalized)

What's your forename? Daniele
What's your surname? Veggiato
DANIELE VEGGIATO
Daniele Veggiato
daniele veggiato
Daniele veggiato

In [12]:
# 12) Use the following method to show where in which character appears the first "da"
# str.find(sub,start,end)

str1=name
str2="da"

str1.find(str2)

# What happens if does not find? Output -1

-1